In [26]:
import yfinance as yf
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
cspx_data = yf.download("CSPX.L", start="2019-01-01", end="2024-12-31")

/tmp/ipykernel_8372/203453763.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  cspx_data = yf.download("CSPX.L", start="2019-01-01", end="2024-12-31")
[*********************100%***********************]  1 of 1 completed

In [5]:
print(cspx_data.head())

Price            Close        High         Low        Open  Volume
Ticker          CSPX.L      CSPX.L      CSPX.L      CSPX.L  CSPX.L
Date
2019-01-02  244.899994  245.589996  240.009995  242.179993   58019
2019-01-03  241.300003  243.720001  239.429993  241.880005  287542
2019-01-04  246.139999  246.800003  241.500000  241.759995   86487
2019-01-07  249.259995  249.509995  246.800003  248.320007  497565
2019-01-08  249.479996  252.320007  249.259995  249.720001  123117

In [6]:
cspx_data.to_csv("data/CSPX.csv")

In [9]:
df = pd.read_csv("data/CSPX.csv")
df.head(10)

,Price,Close,High,Low,Open,Volume
0,Ticker,CSPX.L,CSPX.L,CSPX.L,CSPX.L,CSPX.L
1,Date,NaN,NaN,NaN,NaN,NaN
2,2019-01-02,244.89999389648438,245.58999633789062,240.00999450683594,242.17999267578125,58019
3,2019-01-03,241.3000030517578,243.72000122070312,239.42999267578125,241.8800048828125,287542
4,2019-01-04,246.13999938964844,246.8000030517578,241.5,241.75999450683594,86487
5,2019-01-07,249.25999450683594,249.50999450683594,246.8000030517578,248.32000732421875,497565
6,2019-01-08,249.47999572753906,252.32000732421875,249.25999450683594,249.72000122070312,123117
7,2019-01-09,252.89999389648438,253.25,251.6999969482422,251.97999572753906,79492
8,2019-01-10,253.07000732421875,253.07000732421875,250.47000122070312,251.72000122070312,42799
9,2019-01-11,253.24000549316406,254.0800018310547,252.1999969482422,253.7100067138672,77772

In [12]:
df.rename(columns={'Price':'Date'}, inplace=True)

In [13]:
df.head(10)

,Date,Close,High,Low,Open,Volume
0,Ticker,CSPX.L,CSPX.L,CSPX.L,CSPX.L,CSPX.L
1,Date,NaN,NaN,NaN,NaN,NaN
2,2019-01-02,244.89999389648438,245.58999633789062,240.00999450683594,242.17999267578125,58019
3,2019-01-03,241.3000030517578,243.72000122070312,239.42999267578125,241.8800048828125,287542
4,2019-01-04,246.13999938964844,246.8000030517578,241.5,241.75999450683594,86487
5,2019-01-07,249.25999450683594,249.50999450683594,246.8000030517578,248.32000732421875,497565
6,2019-01-08,249.47999572753906,252.32000732421875,249.25999450683594,249.72000122070312,123117
7,2019-01-09,252.89999389648438,253.25,251.6999969482422,251.97999572753906,79492
8,2019-01-10,253.07000732421875,253.07000732421875,250.47000122070312,251.72000122070312,42799
9,2019-01-11,253.24000549316406,254.0800018310547,252.1999969482422,253.7100067138672,77772

In [15]:
df = df[2:]

In [16]:
df.head(10)

,Date,Close,High,Low,Open,Volume
2,2019-01-02,244.89999389648438,245.58999633789062,240.00999450683594,242.17999267578125,58019
3,2019-01-03,241.3000030517578,243.72000122070312,239.42999267578125,241.8800048828125,287542
4,2019-01-04,246.13999938964844,246.8000030517578,241.5,241.75999450683594,86487
5,2019-01-07,249.25999450683594,249.50999450683594,246.8000030517578,248.32000732421875,497565
6,2019-01-08,249.47999572753906,252.32000732421875,249.25999450683594,249.72000122070312,123117
7,2019-01-09,252.89999389648438,253.25,251.6999969482422,251.97999572753906,79492
8,2019-01-10,253.07000732421875,253.07000732421875,250.47000122070312,251.72000122070312,42799
9,2019-01-11,253.24000549316406,254.0800018310547,252.1999969482422,253.7100067138672,77772
10,2019-01-14,252.7100067138672,253.00999450683594,251.25999450683594,251.63999938964844,88689
11,2019-01-15,254.4199981689453,255.0,252.57000732421875,253.8000030517578,150342

In [19]:
df['Date'] = pd.to_datetime(df['Date'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1514 entries, 2 to 1515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1514 non-null   datetime64[ns]
 1   Close   1514 non-null   object
 2   High    1514 non-null   object
 3   Low     1514 non-null   object
 4   Open    1514 non-null   object
 5   Volume  1514 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 71.1+ KB

In [24]:
df.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [25]:
numeric_cols = ['Open', 'Close', 'High', 'Low', 'Open', 'Volume']

In [27]:
df[numeric_cols] = np.array(df[numeric_cols], dtype=np.float64)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1514 entries, 2 to 1515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1514 non-null   datetime64[ns]
 1   Close   1514 non-null   float64
 2   High    1514 non-null   float64
 3   Low     1514 non-null   float64
 4   Open    1514 non-null   float64
 5   Volume  1514 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 71.1 KB

In [32]:
df['Date_obj'] = df['Date'].astype(str)

In [34]:
df.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'Date_obj'], dtype='object')

In [35]:
df = df[['Date', 'Close', 'High', 'Low', 'Open', 'Volume']]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1514 entries, 2 to 1515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1514 non-null   datetime64[ns]
 1   Close   1514 non-null   float64
 2   High    1514 non-null   float64
 3   Low     1514 non-null   float64
 4   Open    1514 non-null   float64
 5   Volume  1514 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 71.1 KB

In [40]:
df.reset_index(drop=True, inplace=True)

In [43]:
df = df[['Date', 'Close', 'High', 'Low', 'Open', 'Volume']]

In [44]:
df.head()

        Date       Close        High         Low        Open    Volume
0 2019-01-02  244.899994  245.589996  240.009995  242.179993   58019.0
1 2019-01-03  241.300003  243.720001  239.429993  241.880005  287542.0
2 2019-01-04  246.139999  246.800003  241.500000  241.759995   86487.0
3 2019-01-07  249.259995  249.509995  246.800003  248.320007  497565.0
4 2019-01-08  249.479996  252.320007  249.259995  249.720001  123117.0

In [48]:
df.to_csv('data/CSPX_cleaned.csv')