In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import keras
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from keras.callbacks import EarlyStopping
import tensorflow as tf
from sklearn.model_selection import RandomizedSearchCV
from scikeras.wrappers import KerasRegressor
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import load_model
import joblib

2025-09-15 14:33:33.771950: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-09-15 14:33:33.772666: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-09-15 14:33:33.843249: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-09-15 14:33:37.170232: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-09-15 14:33:37.170884: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.

In [6]:
df = pd.read_csv('../data/CSPX_cleaned.csv', parse_dates=['Date'])
df.head(10)

        Date       Close        High         Low        Open    Volume
0 2019-01-02  244.899994  245.589996  240.009995  242.179993   58019.0
1 2019-01-03  241.300003  243.720001  239.429993  241.880005  287542.0
2 2019-01-04  246.139999  246.800003  241.500000  241.759995   86487.0
3 2019-01-07  249.259995  249.509995  246.800003  248.320007  497565.0
4 2019-01-08  249.479996  252.320007  249.259995  249.720001  123117.0
5 2019-01-09  252.899994  253.250000  251.699997  251.979996   79492.0
6 2019-01-10  253.070007  253.070007  250.470001  251.720001   42799.0
7 2019-01-11  253.240005  254.080002  252.199997  253.710007   77772.0
8 2019-01-14  252.710007  253.009995  251.259995  251.639999   88689.0
9 2019-01-15  254.419998  255.000000  252.570007  253.800003  150342.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1514 entries, 0 to 1513
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1514 non-null   datetime64[ns]
 1   Close   1514 non-null   float64
 2   High    1514 non-null   float64
 3   Low     1514 non-null   float64
 4   Open    1514 non-null   float64
 5   Volume  1514 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 71.1 KB